/* Tailwind CSS v3.3.0 */
@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Tailwind Style */
@layer base {
  body {
    min-height: 100vh;
    background: #fff;
    color: #000;
  }
}
